*{
  font-family: "Maven Pro", sans-serif;
}

.calc-frame{
  font-size: 32px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
}

form{
  background-color: #58D5D4;
  padding: 30px;
}

input[name=tipPercent],input[name="tipDollar"],input[name="totalTip"]{
    background-color: lightgray;
  }

footer{
  font-size: 10px;
  text-align: center;
}
